* {
	font-family:"Trebuchet MS","sans-serif";
}
/* Stuff for "branding" */
#banner{
	position:relative;
	height:100%;
	left:2%;
	top:-43px;
	z-index:15;
	border: none;
}
.pagetitle{
    font-size: 17px;
}
.ctpsHeader{
	height:59px;
	background-color:white
}

.lightBlue{
	height:27px;
	width:100%;
	background-color:#7DA1C4;
	z-index:10;
}

.darkBlue{
	height:16px;
	width:100%;
	background-color:rgb(13,72,127);
	z-index:10;
}
/* End of stuff for "branding" */

#wrapper {
    width: 100%;
    height: 600px;
}
#legend {
/*
    width: 15%;
    height: 95%;
    float: left;
    margin-top: 60px;
*/
    margin-top: 10px;
    margin-bottom: 10px;
}
#map_wrapper {
    margin-left: 5%;
    margin-right: 5%;
    /* width: 90%; */
    height: 100%;
    /* float: right; */
}
#search_div {
    /* margin-bottom: 10px; */
    height: 45px;
}
#map {
    height: 100%;
    border: 4px solid #B87F32; 
}
#legend h2 {
    font-size: 17px;
}
#project_list_caption h2 {
    font-size: 17px;
}
#project_list_div {
    margin-bottom: 20px;
}
#project_list_contents {
    min-height: 200px;
    min-width:  500px;
}
.moneyColumn {
    text-align: right;
}

#tabs_div {
    width:  100%;
    height: 1000px;
}
/* Throttle the jQueryUI font size back a bit */
.ui-widget {
    font-size:80% !important;
}
