* {
	font-family:"Trebuchet MS","sans-serif";
}
/* Stuff for "branding" */
#banner{
	position:relative;
	height:100%;
	left:2%;
	top:-43px;
	z-index:15;
	border: none;
}
.pagetitle{
    font-size: 17px;
}
.ctpsHeader{
	height:59px;
	background-color:white
}
.lightBlue{
	height:27px;
	width:100%;
	background-color:#7DA1C4;
	z-index:10;
}
.darkBlue{
	height:16px;
	width:100%;
	background-color:rgb(13,72,127);
	z-index:10;
}
/* End of stuff for "branding" */

#wrapper {
    width: 100%;
    height: 600px;
}
#map_wrapper {
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
}
#map {
    height: 100%;
    border: 4px solid #B87F32; 
}

#tabs_div {
    width:  100%;
    /* height: 1000px; */
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Throttle the default jQueryUI font size back a bit */
.ui-widget {
    font-size:80% !important;
}
/* Make each table in the detail page fill the tab that contains it */
.tabbody table {
    width: 100%;
}
/* Make the first 'column' in each table only as wide as it needs to be, and render its contents in bold font...  */
#proj_overview table tr td:first-child {
    vertical-align: top;
    font-weight: bold;
    width: 300px;
}
#proj_safety table tr td:first-child {
    vertical-align: top;
    font-weight: bold;
    width: 450px;
}
#proj_sys_preservation table tr td:first-child {
    vertical-align: top;
    font-weight: bold;
    width: 540px;
}
#proj_capacity_mgt table tr td:first-child {
    vertical-align: top;
    font-weight: bold;
    width: 460px;
}
#proj_clean table tr td:first-child {
    vertical-align: top;
    font-weight: bold;
    width: 500px;
}
#proj_tequity table tr td:first-child {
    vertical-align: top;
    font-weight: bold;
    width: 450px;
}
#proj_economic table tr td:first-child {
    vertical-align: top;
    font-weight: bold;
    width: 500px;
}

/* Make the background of the 'subheadings' in the project detail tabs slightly darker than the background. */
h3.detail_section_header {
    background-color: rgb(230,232,234);
}
/* Special hadling for the bridges table... */
#bridges_table tr > td:nth-child(1) {
    vertical-align: top;
    font-weight: bold;
    width: 20%;
    text-align: left;
}
#bridges_table tr > td:nth-child(2) {
    vertical-align: top;
    width: 20%;
    text-align: center;
}
#bridges_table tr > td:nth-child(3) {
    vertical-align: top;
    width: 20%;
    text-align: center;
}
#bridges_table tr > td:nth-child(4) {
    vertical-align: top;
    width: 20%;
    text-align: center;
}
#bridges_table tr > td:nth-child(5) {
    vertical-align: top;
    width: 20%;
    text-align: center;
}

/* ... and the proponents table... */
#proponents_table tr > td:first-child {
    vertical-align: top;
    font-weight: bold;
    min-width: 150px;
}

/* ... and the current funding table... */
#current_funding_table tr > td:nth-child(1) {
    font-weight: bold;
    width: 16.66%;
    text-align: left;
}
#current_funding_table tr > td:nth-child(2) {
    width: 16.66%;
    text-align: center;
}
#current_funding_table tr > td:nth-child(3) {
    width: 16.66%;
    text-align: center;
}
#current_funding_table tr > td:nth-child(4) {
    width: 16.66%;
    text-align: center;
}
#current_funding_table tr > td:nth-child(5) {
    width: 16.66%;
    text-align: center;
}
#current_funding_table tr > td:nth-child(6) {
    width: 16.66%;
    text-align: center;
}
/* ... and the proposed funding table. */
#proposed_funding_table tr > td:nth-child(1) {
    font-weight: bold;
    width: 16.66%;
}
#proposed_funding_table tr > td:nth-child(2) {
    width: 16.66%;
}
#proposed_funding_table tr > td:nth-child(3) {
    width: 16.66%;
}
#proposed_funding_table tr > td:nth-child(4) {
    width: 16.66%;
}
#proposed_funding_table tr > td:nth-child(5) {
    width: 16.66%;
}
#proposed_funding_table tr > td:nth-child(6) {
    width: 16.66%;
}

/* 'Stripe' rows in tables presenting project data */
.tabbody table tr:nth-child(odd) { 
    background: AliceBlue; 
}
.tabbody table tr:nth-child(odd) { 
    background: white; 
}
.columnHeader {
    text-align: center;
    font-weight: bold;
}
.moneyColumn {
    text-align: right;
}
.dateColumn {
    text-align: right;
}